{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5 d-flex align-items-center justify-content-center flex-column">
        <div class="main_div">
            <h1 class="text-center">{{ Recipe.title }}</h1>
            <img src="{{ Recipe.ImgLink }}" alt="{{ Recipe.title }}" class="img_recipe" width="20%">
            <p class="text-center">{{ Recipe.description }}</p>
            {# Gestion des ingrédients #}
            <div class="d-flex justify-content-center">
                <div class="ingredients">
                    <h2 class="text-center">Ingrédients</h2>
                    <ul>
                        {% for ingredient in Recipe.ingredients %}
                            <li>{{ ingredient.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {# Gestion des outils  #}
                <div class="tools">
                    <h2 class="text-center">Outils</h2>
                    <ul>
                        {% for tool in Recipe.tools %}
                            <li>{{ tool.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {# Gestion des étapes #}
                <div class="steps">
                    <h2 class="text-center">Etapes</h2>
                    <ul>
                        {% for step in Recipe.steps %}
                            <li>{{ step.stepNb }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}