{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5 d-flex align-items-center justify-content-center flex-column">
        <div class="main_div shadow">
            <div class="bg-light my-3 rounded shadow">
                {% if app.user.getFavorite.contains(Recipe) %}
                    <a href="/remove_favorite/{{ Recipe.id }}" class="btn btn-danger">Retirer des
                        favoris</a>
                {% else %}
                    <a href="/add_favorite/{{ Recipe.id }}" class="btn btn-success">Ajouter aux
                        favoris</a>
                {% endif %}
                <h1 class="text-center">{{ Recipe.title }}</h1>
                <img src="{{ Recipe.ImgLink }}" alt="{{ Recipe.title }}"
                     class="img_recipe img-fluid w-75 mx-auto d-block p-2">
                <p class="text-center">{{ Recipe.description }}</p>
            </div>
            <div class="d-flex justify-content-center flex-column">
                {# Gestion des ingrédients #}
                <div class="ingredients bg-light my-3 rounded shadow">
                    <h2 class="text-center">Ingrédients</h2>
                    <ul>
                        {% for ingredient in Ingredients %}
                            <li>{{ ingredient.0.name }} {{ ingredient.1 }}{{ ingredient.2 }}</li>
                        {% endfor %}
                    </ul>
                </div>

                {# Gestion des outils  #}
                <div class="tools bg-light my-3 rounded shadow">
                    <h2 class="text-center">Outils</h2>
                    <ul>
                        {% for tool in Recipe.tools %}
                            <li>{{ tool.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                {# Gestion des étapes #}
                <div class="steps bg-light my-3 rounded shadow">
                    <h2 class="text-center">Etapes</h2>
                    {% for step in Recipe.steps %}
                        <div class="d-flex bg-light my-3 rounded shadow">
                            <p class="text-center font-weight-bold w-25">Etape {{ step.stepNb }} : </p>
                            <p class="ml-2 w-75">{{ step.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}